* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; Helvetica; sans-serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

#header {
    font-size: 2.25em;
    color: white;
    background-color: #0A1B2A;
    text-align: center; 
    font-weight:100;
    padding: 2.5% 0% 2% 0%;
    line-height:80%;
}

div span a{
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
    font-weight: bold;
}

.header_text {
    font-size:0.5em;
    margin: 0% 0% 1% 0%;
}

#last_name {
    font-weight:500;
}

#aside { 
    font-size: 0.9em;
    color: #4D4D4D;
    text-align: right;
    width: 20vw;
    position: fixed;
    margin-top: 0.28%; 
}

.header_aside {
    font-weight:bold;
    font-size: 1.4em;
    color: #0A1B2A;
    letter-spacing: -0.5px;
}

.links {
    margin: -1% 0% 2% 0%;
}

div p a {
    color: #4d4d4d;
}

.programming {
    margin: -1% 0% 2% 0%;
}

.languages {
    margin: -1% 0% 2% 0%;
}

#main_text {
    margin: 0vw 3vw 0vh 22vw;
    color: #4D4D4D;
    clear:left;
    float:right;
}

.header_main {
    font-weight:bold;
    font-size: 1.3em;
    color: #0A1B2A;
    letter-spacing:-0.5px;
}

#summary {
    margin: -0.3% 0% 2% 0%;
}

#left {
	float:left;
	width:0em 0em 0em 50em;
}

#right {
    width: 100%;
    text-align:right;
    font-style: italic;
    color:#999999;
}

.gpa {
    font-style: italic;
    color:#999999;
    border: 1px solid transparent;
}

.text {
    margin: -0.4% 0% 1% 0%;
    border: 1px solid transparent;
}

.education {
    margin: -0.2% 0% 2% 0%;
}


@media only screen and (max-device-width: 480px) {
  #aside {
      position: absolute;
      height: 100%;
      width:100%;
      margin: 0vw 3vw 0vh 3vw;
      font-size: 1.0em;
  }
  
  #main_text {
      margin: 0vw 3vw 0vh 3vw;
  }

  .header_aside {
      font-weight:bold;
      font-size: 1.3em;
      letter-spacing: -0.5px;
  }

}
